body {

color:rgb(235, 238, 255);
background-color: rgb(20, 23, 74);

}

.widecontainer {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

a:link {
    color: #fff200;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #fff200; /* top menu bars */
}
a:hover {
    text-decoration: none;
    color: rgb(25, 182, 255);
}
a:active {
    text-decoration: none;
    color: #000000;
}

td, th {
    color: #A0522D;
}

h1 {
color:rgb(235, 238, 255);

}

.statement_text { /* sentence box */
color: black;

}


.nav_pad{
  padding-top:40px;
}
.section{
  padding-top: 30px;
  padding-bottom:40px;

}

.mid-section{
  padding-top: 120px;
  padding-bottom:40px;

}

.key {
  font-weight:bold;


}
.stripe {
 background-color: #DADADA;
}


ul.disc{
  list-style: disc;
  margin-left: 15px; 
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    padding-right:10px;
    margin-right: 10px;
    font-weight: bold;
   /* border-style: dotted;*/
}



.statement_text {

    background-color: #eee;
    padding: 8px;
    margin-top: 20px;
    border: 1px dashed black;
    font-weight: bold;
}
